# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/.apt_generated/
/.classpath
/.factorypath
/.project
/.settings/
/.springBeans
/target/
/.gitignore
/user-profile-analysis.iml
/.idea
/README.md
.DS_Store
itcast_dao/pom.xml
itcast_dao/src/
itcast_dao/target/
itcast_domian/pom.xml
itcast_domian/src/
itcast_domian/target/
itcast_service/pom.xml
itcast_service/src/
itcast_service/target/
itcast_utils/pom.xml
itcast_utils/src/
itcast_utils/target/
itcast_web/pom.xml
itcast_web/src/main/java/
itcast_web/src/main/resources/
itcast_web/src/main/webapp/403.jsp
itcast_web/src/main/webapp/404.jsp
itcast_web/src/main/webapp/WEB-INF/
itcast_web/src/main/webapp/css/
itcast_web/src/main/webapp/failer.jsp
itcast_web/src/main/webapp/img/
itcast_web/src/main/webapp/index.jsp
itcast_web/src/main/webapp/js/
itcast_web/src/main/webapp/login.jsp
itcast_web/src/main/webapp/pages/header.jsp
itcast_web/src/main/webapp/pages/main.jsp
itcast_web/src/main/webapp/pages/orders-list.jsp
itcast_web/src/main/webapp/pages/orders-page-list.jsp
itcast_web/src/main/webapp/pages/orders-show.jsp
itcast_web/src/main/webapp/pages/permission-add.jsp
itcast_web/src/main/webapp/pages/permission-list.jsp
itcast_web/src/main/webapp/pages/product-add.jsp
itcast_web/src/main/webapp/pages/product-list1.jsp
itcast_web/src/main/webapp/pages/role-add.jsp
itcast_web/src/main/webapp/pages/role-list.jsp
itcast_web/src/main/webapp/pages/role-permission-add.jsp
itcast_web/src/main/webapp/pages/syslog-list.jsp
itcast_web/src/main/webapp/pages/user-add.jsp
itcast_web/src/main/webapp/pages/user-list.jsp
itcast_web/src/main/webapp/pages/user-role-add.jsp
itcast_web/src/main/webapp/pages/user-show.jsp
itcast_web/src/main/webapp/plugins/
itcast_web/target/
pom.xml
src/
"\344\274\201\344\270\232\347\256\241\347\220\206\347\263\273\347\273\237.sql"
